{% extends "base.html" %}
{% load static %}

{% block title %}Список приоритетов{% endblock %}

{% block main_content %}
  <h1>Список приоритетов</h1>
  <ul>
  {% for prio in priorities %}
    {% if prio.todos_count %}
    <li><a href={% url "tasks:list_by_prio" prio.pk %}>{{ prio.name }}</a> ({{ prio.todos_count }})</li>
    {% else %}
    <li>{{ prio.name }} ({{ prio.todos_count }})</li>
    {% endif %}
  {% empty %}
    <p>Список с приоритетами пуст. Попробуйте добавить их из админки</p>
  {% endfor %}
  </ul>
{% endblock %}
